ion-content {
    --background: linear-gradient(270deg,hsla(0, 0%, 93%, 1),#fafdff);

    iframe {
        /* width: 500px; */
        width: 280px !important;
    }
}

ion-header{
    &.header-md:after{
        background-image: none;
    }

    left: 0;
    top: 0;
    position: absolute;
    z-index: 10;
    display: block;
    width: 100%;*

    button{
        background-color: transparent;
    }
    ion-icon{
        font-size: 20px;
        color: #fff;
    }
}

.header-ios ion-toolbar:last-child {
    --border-width: 0 0 0;
}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

ion-card {
 /*   position: relative;
    overflow: visible;
    // margin: 10px;
    // border-radius: 2px;
    // width: calc(100% - 20px);
    font-size: 1.4rem;
    background: #fff;
    // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

    margin-top: -2em;*/
}


ion-card-title{
   // font-family: ubuntu, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;
  //  margin: 5% 5% 3% 5%;
}

ion-button{
    font-size: 12px;
}

ion-datetime{
    opacity: initial;
    color: #989aa2;
}


.card-content-md p {
    margin-bottom: 1em;
}

#btn_cerrar ion-fab-button {
    width: 30px;
    height: 30px;
  }