
    .botones {
        text-align: right;
        margin: 15% 5% 5% 0%;
    }

    ion-card {
        --background: transparent;
    }

    ion-label{
        margin-left: 5%;
    }
    a{
        margin: 5%;
        font-size: 13px;
    }