<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-grid>
      <ion-row  class="ion-align-items-center">
        <ion-col size="9">
          <img class="logo" src="../../assets/i/Logo_Lineal.png">
        </ion-col>
        <ion-col size="3"  color="light">   
          <ion-button size="small" color="secondary" shape="round" fill="outline" class="btn_seccion"  (click)="cuenta()">Cuenta</ion-button>
          <!--<ion-item   lines="none">
            <ion-avatar slot="">
              <img src="../../assets/varios/avatar.jpg">
            </ion-avatar>
        </ion-item>-->
      </ion-col>
  </ion-row>
</ion-grid>
    <ion-title>
      <span><b>Tus Representantes</b></span>
      <hr>
    </ion-title>

    <ion-segment     
    value="Diputados" 
    color="violeta" 
    scrollable="true"
    [(ngModel)]="segmentModel" 
    (ionChange)="segmentChanged($event)">
      <ion-segment-button value="Diputados">Diputados</ion-segment-button>
      <ion-segment-button value="Senadores">Senadores</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">

  <!--<ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>-->

  <ion-list *ngIf="segmentModel === 'Diputados'">
    <ion-card *ngFor="let diputado of diputados" (click)="presentModal(diputado)">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
                <img src="{{diputado.imagen}}">
          </ion-col>
          <ion-col size="9">
            <ion-card-header>
              <ion-card-title><b>{{diputado.nombre}}</b></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col class="ion-float-left">
                    <div>
                      <h3>Tipo de elección:</h3>
                    </div>
                  </ion-col>
                  <ion-col class="ion-float-right">
                    <div>
                      <b>{{diputado.tipo_eleccion}}</b>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-float-left">
                    <div>
                      <h3>Entidad:</h3>
                    </div>
                  </ion-col>
                  <ion-col class="ion-float-right">
                    <div>
                      <b>{{diputado.entidad}} </b> 
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

  </ion-list>

  <ion-list *ngIf="segmentModel === 'Senadores'">
    <ion-card *ngFor="let senador of senadores" (click)="presentModal(senador)">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
                <img src="{{senador.imagen}}">
          </ion-col>
          <ion-col size="9">
            <ion-card-header>
              <ion-card-title><b>{{senador.nombre}}</b></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col class="ion-float-left">
                    <div>
                      <h3>Tipo de elección:</h3>
                    </div>
                  </ion-col>
                  <ion-col class="ion-float-right">
                    <div>
                      <b>{{senador.tipo_eleccion}}</b>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-float-left">
                    <div>
                      <h3>Entidad:</h3>
                    </div>
                  </ion-col>
                  <ion-col class="ion-float-right">
                    <div>
                      <b>{{senador.entidad}} </b> 
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

  </ion-list>


</ion-content>