<ion-tabs>

  <ion-tab-bar slot="bottom" color="medium" >
    <ion-tab-button tab="noticias">
      <ion-icon name="newspaper-sharp" color="white"></ion-icon>
      <ion-label  color="white">Noticias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="agenda">
      <ion-icon name="calendar-sharp"  color="white"></ion-icon>
      <ion-label color="white">Agenda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mapeo">
      <ion-icon src="../../assets/icon/mapa.svg" color="white"></ion-icon>
      <ion-label color="white">Mapeo</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="sondeos">
      <ion-icon src="../../assets/icon/marca.svg" color="white"></ion-icon>
      <ion-label color="white">Sondeos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="estadisticas">
      <ion-icon src="../../assets/icon/estadistica.svg" color="white"></ion-icon>
      <ion-label  color="white">
       Analisis</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
