<ion-tabs>

  <ion-tab-bar slot="bottom" color="medium" >
    <ion-tab-button tab="noticias">
      <ion-icon name="newspaper-sharp" color="white"></ion-icon>
      <ion-label  color="white">Noticias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="agenda">
      <ion-icon name="calendar-sharp"  color="white"></ion-icon>
      <ion-label color="white">Agenda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tribuna">
      <ion-icon src="../../assets/icon/tribuna.svg" color="white"></ion-icon>
      <ion-label color="white">Tribuna</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="representantes" *ngIf="true">
      <ion-icon src="../../assets/icon/repre_.svg" color="white"></ion-icon>
      <ion-label  color="white">
       Representantes</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="vota" *ngIf="true">
      <ion-icon src="../../assets/icon/marca.svg" color="white"></ion-icon>
      <ion-label color="white">Vota</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
