<ion-header [translucent]="true" color>
  <ion-toolbar color="" >
    <ion-grid>
      <ion-row  class="ion-align-items-center">
        <ion-col size="9">
          <img class="logo" src="../../assets/i/Logo_Lineal.png">
        </ion-col>
        <ion-col size="3"  color="light">   
          <ion-button size="small" color="secondary" shape="round" fill="outline" class="btn_seccion"  (click)="cuenta()">Cuenta</ion-button>
          <!--<ion-item   lines="none">
            <ion-avatar slot="">
              <img src="../../assets/varios/avatar.jpg">
            </ion-avatar>
        </ion-item>-->
      </ion-col>
  </ion-row>
</ion-grid>
    <ion-title>
      <span><b>Vota</b></span>
      <hr>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">

  <!--<ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>-->
    <ion-card>
      <!--<ion-img src="../../assets/varios/aborto.jpg" alt="ion"></ion-img>-->
      <ion-card-header>
        <ion-card-title>¿ Apruebas el Aborto ?</ion-card-title>
      </ion-card-header>
      <!--<ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
      </ion-card-content>-->
        <div class="botones">
        <ion-row>
          <ion-col center text-center>
            <ion-button color="success"  size="small"> <ion-icon name="thumbs-up-sharp"></ion-icon> Si</ion-button>
          </ion-col>
          <ion-col center text-center>
            <ion-button color="danger"  size="small"> <ion-icon name="thumbs-down-sharp"></ion-icon>No</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-card>

    <ion-card>
      <!--<ion-img src="../../assets/varios/aborto.jpg" alt="ion"></ion-img>-->
      <ion-card-header>
        <ion-card-title>¿ Apruebas la Beca Universal Benito Juárez ?</ion-card-title>
      </ion-card-header>
      <!--<ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
      </ion-card-content>-->
        <div class="botones">
        <ion-row>
          <ion-col center text-center>
            <ion-button color="success"  size="small"> <ion-icon name="thumbs-up-sharp"></ion-icon> Si</ion-button>
          </ion-col>
          <ion-col center text-center>
            <ion-button color="danger"  size="small"> <ion-icon name="thumbs-down-sharp"></ion-icon>No</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-card>
</ion-content>